{% comment %} 
{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>KnowBase AI | Upload</title>
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body class="center-page">

  <div class="card">
    <h1>KnowBase AI</h1>
    <p class="subtitle">Enterprise Knowledge Assistant</p>

    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <input type="file" name="file" required class="file-input">
      <button type="submit" class="primary-btn">Upload & Index</button>
    </form>
  </div>
  <button class="dark-toggle" onclick="toggleDark()">🌙</button>
  <script src="{% static 'js/theme.js' %}"></script>
</body>
</html> 
 {% endcomment %}


 {% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>KnowBase AI | Upload</title>
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body class="center-page">
  <div class="top-bar">
    <button class="dark-toggle" onclick="toggleDark()">🌙</button>
  </div>
  <div class="card">
    <h1>KnowBase AI</h1>
    <p class="subtitle">Enterprise Knowledge Assistant</p>

    <form method="post" enctype="multipart/form-data" onsubmit="showPopup()">
      {% csrf_token %}

      <label class="upload-box">
        <input type="file" id="pdfInput" name="file" accept=".pdf" required hidden>
        <div class="upload-icon">⬆</div>
        <p><strong>Drag & Drop your PDF here</strong></p>
        <span>or click to browse</span>
      </label>

      <button type="submit" class="primary-btn">
        Start Analysis
      </button>
    </form>
  </div>

  <script src="{% static 'js/theme.js' %}"></script>



</body>
</html>
